_ReSharper.*
bin/
obj/
*.user
*.suo
*~
*.swp
*.orig
*.nupkg
*.received.txt
*.crunchproject.local.xml
*.crunchsolution.local.xml
*.cache
*.userprefs
.DS_Store
packages/*
PackageBuild/*
Build/*
TestResult.xml
src/packages/
src/.vs/
.vs/
project.lock.json
tools/Cake/
tools/gitversion.commandline/
artifacts/